<html>
<head>
  <meta charset='utf-8' />
  <title>{{options.name}} {{options.version}}</title>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro:400,500,700' rel='stylesheet' type='text/css'>
  <link href='assets/bass.css' type='text/css' rel='stylesheet' />
  <link href='assets/style.css' type='text/css' rel='stylesheet' />
  <link href='assets/github.css' type='text/css' rel='stylesheet' />
</head>
<body class='documentation'>
  <div class='container'>
    <div class='clearfix md-mxn2'>
      <div class='fixed md-show fix-3 overflow-auto max-height-100'>
        <div class='px1 py1'>
          <a href='/' class='h5 button block button-transparent'>{{options.name}} {{options.version}}</a>
          <div class='px2'>
            {{#each docs}}
              <a
                href='#{{permalink}}'
                class='block bold'>
                {{name}}
              </a>
              {{#each members.static}}
                <a
                  href='#{{permalink}}'
                  class='regular block'>
                  .{{name}}
                </a>
              {{/each}}
              {{#each members.instance}}
                <a
                  href='#{{permalink}}'
                  class='regular block'>
                  #{{name}}
                </a>
              {{/each}}
              {{#each events}}
                <a
                  href='#{{permalink}}'
                  class='regular block'>
                  <code>ⓔ {{name}}</code>
                </a>
              {{/each}}
            {{/each}}
          </div>
        </div>
      </div>
      <div class='fix-margin-3'>
        <div class='px2'>
{{#each docs ~}}<div class='py1'>{{> section}}</div>{{/each}}
        </div>
      </div>
    </div>
  </div>
  <script src='assets/anchor.js'></script>
  <script src='assets/site.js'></script>
</body>
</html>
